.form-seperator {
    cursor: default;
}

.form-seperator .line {
    background-color: #7C828D;
    border: 1px solid #DDDDDF;
    height: 1px;
    max-width: 140px;
    width: 100%;
}

.otherLoginButtons button {
    padding: 10px 0;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    border-radius: 8px;
    border: 1px solid #DDDDDF;
    transition: all 100ms ease;
}

.otherLoginButtons button:focus,
.otherLoginButtons button:hover {
    background: #eeeeee;
}

main {
    background: #FDA2ED;
}

.screen {
    min-height: 100vh;
    width: 100%;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 150px 0;
}

.screen-bg {
    height: 100%;
    width: 100%;
    position: absolute;
    inset: 0;
    z-index: 2;
}


.screen-bg>img {
    height: 100%;
    width: 100%;
    aspect-ratio: 1 / 1;
    object-position: center;
}

.screenMain {
    position: relative;
    z-index: 2;
}

.formContainer {
    max-width: 703px;
    width: 100%;
    border-radius: 20px;
    background: #FFF;
    box-shadow: 0px 4px 4px 0px rgba(171, 171, 171, 0.15);
    padding: 50px;
}

.sc-1list li i {
    color: var(--clr-purple-700);
}

.passwordStrength .form-check {
    display: flex;
    align-items: center;
    gap: 5px;
    padding-left: 10px;
}

.passwordStrength .form-check label {
    font-size: 12px;
    color: #7C828D;
}

.passwordStrength .form-check input {
    margin-left: 0;
}

.passwordStrength .form-check-input:checked {
    background-color: var(--clr-pink-700);
    border-color: var(--clr-pink-300);
}

.progress {
    height: 3px !important;
}

.form-group {
    margin-bottom: 10px;
}

.show-pass {
    position: absolute;
    top: 5%;
    right: 8%;
}

.progress-bar-danger {
    background-color: #e90f10;
}

.progress-bar-warning {
    background-color: #ffad00;
}

.progress-bar-success {
    background-color: #02b502;
}

.starsForRating {
    color: #FBBE21;
}

.onClickShow {
    display: none;
}

.signUpTestiCard {
    max-width: 497px;
    width: 100%;
    padding: 36px 44px 19px;
    border-radius: 10px;
    background: #F3F8F9;
}

.signupFormTestimonialSlider .slick-dots {
    max-width: 497px;
    width: 100%;
}

.showPass {
    transition: all 50ms ease;
}

.showPass.active,
.showPass:hover {
    color: var(--clr-purple-700);
}

/* SWITCHING SCREENS */
.screen-2Form {
    position: relative;
    z-index: 2;
}

.screen-2 {
    opacity: 0;
    display: none;
}

.switchingScreen {
    position: absolute;
    inset: 0;
}

.blueScreen {
    background-color: #194BFB;
}

.switchingScreen {
    display: flex;
    justify-content: center;
    align-items: center;
}

.progress {
    margin: 10px 0;
}

.custom-inputs {
    position: relative;
}


.custom-inputs input {
    padding-left: 70px;

    border-radius: 10px;
    border: 1px solid #D9D9D9;
    background: #FFF;

    padding-block: 20px;
    transition: all 250ms ease;
}

.custom-inputs input::placeholder,
.custom-inputs input {
    color: #475E6F;
    font-size: 18px;
    font-weight: 500;
    line-height: normal;
}

.custom-inputs input:focus, 
.custom-inputs input:hover, 
.custom-inputs input.hasText {
    cursor: pointer;
    filter: drop-shadow(0px 4px 4px rgba(154, 172, 236, 0.20));
    outline: 1px solid #0436E7;
    color: #292D34;
}


.custom-inputs .inputIcon {
    position: absolute;
    top: 50%;
    left: 22px;
    transform: translateY(-50%);
    font-size: 35px;
    color: rgb(78, 113, 187);
    font-weight: 300;
    z-index: 2;
}

.prop {
    position: absolute;
}

.prop-bottom-left {
    left: 0;
    bottom: 0;
}

.form-side-prop {
    left: 49%;
    top: 0;
}

/* orangeScreen */
.screenBackgrounds {
    /* transform: translateX(-100%); */
    transition: all 250ms ease;
}
.orangeScreen {
    background: #F88B45;
}
/* 
.screenBackgrounds.active {
    transform: translateX(0);
} */

.pinkScreen {
    background: #FE28A9;
}

.greenScreen {
    background: url(../images/signup/green-screen/bg.png) no-repeat;
    background-size: 100% 100%;
}

@media only screen and (max-width: 1367px) {
    .screenText h4 {
        text-wrap: balance;
        font-size: 37px;
    }
}

@media only screen and (max-width: 1240px) {
    .screenText h4 {
        font-size: 30px;
    }

    .formContainer {
        padding: 27px 22px;
    }

    .screen1List li {
        font-size: 18px;
    }

    .otherLoginButtons button {
        padding: 5px 0;
        font-size: 14px;
    }

    .formHeader h5 {
        font-size: 28px;
    }

    .input__wrap label {
        font-size: 14px;
    }

    .input__wrap input,
    .input__wrap select,
    .input__wrap textarea {
        font-size: 14px;
        min-height: 40px;
    }


    .signUpTestiCard {
        padding: 25px 20px 20px;
    }
}

@media only screen and (max-width: 1140px) {
    .screenText h4 {
        font-size: 25px;
    }
}

@media only screen and (max-width: 992px) {
    /* .screenText h4 {
        margin: 0 auto;
    } */

    .screenText {
        margin-bottom: 20px;
    }

    .signUpTestiCard {
        margin: 0 auto;
    }

    .signupFormTestimonialSlider .slick-dots {
        left: 50%;
        transform: translateX(-50%);
    }
}

@media only screen and (max-width: 767px) {
    .signupFormTestimonialSlider {
        display: none;
    }

}