@font-face {
    font-family: Axiforma, sans-serif;
    src: url(../fonts/AxiformaRegular.otf);
}

:root {
    --ff-primary: Axiforma, sans-serif;
    --ff-secondary: 'Ariel', sans-serif;



    --clr-blue-300: rgba(78, 156, 239, 0.30);
    ;
    --clr-blue-700: #4E9CEF;

    --clr-purple-300: #DCC0EB;
    ;
    --clr-purple-700: #7113A0;

    --clr-pink-300: #FDA2ED;
    --clr-pink-700: #F53ED6;

    --clr-orange-300: #F5CBB0;
    --clr-orange-700: linear-gradient(180deg, #FF924B 0%, rgba(255, 146, 75, 0.00) 100%, #E48140 100%);

    --clr-neutral-700: #292D34;
    --clr-neutral-400: #878B8B;

    --fc-accent: #FFF;

    --section-padding: 65px 0;

    --fs-12: 12px;
    --fs-13: 13px;
    --fs-14: 14px;
    --fs-16: 16px;
    --fs-18: 18px;
    --fs-22: 22px;
    --fs-24: 24px;
    --fs-25: 25px;
    --fs-30: 30px;
    --fs-35: 35px;
    --fs-45: 45px;
    --fs-40: 40px;
    --fs-50: 50px;
    --fs-55: 55px;
    --fs-60: 60px;
}